h1 {
    font-size: 64px;
    color: darkgreen;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 48px;
}

img {
    width: 40%;
    height: auto;
}
.stepBox, .ingBox {
    display: inline-block;
    width:748px;
    
}
p, li {
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}