h1 {
    color: white;
    text-align: center;
    font-size: 144px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#backdrop {
    background-color: rgb(172, 51, 20);
}
/*
img {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
*/

#left, #right, #center {
    display: inline-block;
    text-align: center;
    font-size: 24px;
    /*background-color: antiquewhite; */
    padding: 15px;
    margin: 0 20px;
}

img {
    width: 550px;
    height: 550px;
}



/*
#left {
    text-align: left;
}

#center {
    text-align: center;
}
*/

ul {
    color: white;
    font-size: 32px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    text-align: justify;
}
